<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Editing Friend</h2>
        </div>
        <div class="card-body">
            <%= render 'form', friend: @friend %>
        </div>
    </div>
    <br />
</div>
    <br />
    <div>
        <%= link_to 'Show Card', @friend, class:"btn btn-sm btn-outline-secondary" %> |
        <%= link_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-outline-danger" %>
    </div>
    <br />
    <div>
        <%= link_to 'Back', friends_path, class:"btn btn-dark" %>
    </div>