<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Add New Friend</h2>
        </div>
        <div class="card-body">
            <%= render 'form', friend: @friend, class:"btn btn-secondary" %>
        </div>
    </div>
    <br />
</div>
    <br />
    <div>
        <%= link_to 'Back', friends_path, class:"btn btn-dark disabled" %>
    </div>