
<h1>About Us...</h1>

<picture>
    <%= image_tag("logo.jpg", class:"img-fluid img-thumbnail", size:"200x200", :alt => "logo codemy.com") %>
</picture>
<br />
<br />

<p>
    <%= @about_me %>
</p>

<picture>
    <%= image_tag("codemy-team.jpg", class:"img-fluid img-thumbnail", size:"200x200", :alt => "team codemy.com") %>
</picture>